canvas{
    fill-color: white;
}

node[gs] {
    font-size: 30;
    text-color: black;
    font-weight: bold;
    text-halo-color: white;
    icon-width: 32;
}

node[gs=globalconfig] {
    icon-image: "config.png" ;
    text: eval("GEOSCENARIO CONFIG");
    text-offset-x: 5;
    text-offset-y: 5;
}

node[gs=metric] {
    icon-image: "metrics.png" ;
    text: eval(concat( "Metric: " , tag("name")));
}

node[gs=origin] {
    icon-image: "origin.png" ;
}

node[gs=egostart] {
    icon-image:"vehicle_ego.png" ;
    icon-width: 128;
    icon-rotation: degree_to_radians(tag("orientation"));
    text: eval("EGO");
    text-offset-x: -50;
    text-offset-y: 75;
}

node[gs=egogoal] {
    icon-width: 64;
    icon-image: "egogoal_target.png" ;
    text: eval(concat( "GOAL " , tag("name")));
    text-offset-x: -70;
    text-offset-y: 80;
}

node[gs=pedestrian] {
    icon-image: "pedestrian_black.png" ;
    icon-width: 64;
    text: eval(concat( "P: ", tag("name"), " (", tag("orientation"),"°, ", tag("speed"), " km/h)"));
    text-offset-x: -55;
    text-offset-y: 80;
}


node[gs=vehicle] {
    icon-image: "vehicle_black.png";
    icon-rotation: degree_to_radians(tag("orientation"));
    icon-width: 128;
    text: eval(concat( "V: ", tag("name"), println()," (", tag("orientation"),"°, ", tag("speed"), " km/h)"));
    text-offset-x: -30;
    text-offset-y: 50;
}

node[gs=trigger] {
    icon-width: 64;
    icon-image: "trigger_red.png";
	  text: eval(concat( "T: ", tag("owner")," -> ", tag("target")));
    text-offset-x: -50;
    text-offset-y: 75;
}

node[gs=trafficlight] {
    icon-width: 64;
    icon-image:"trafficlight.png" ;
    text: eval(concat( "TL: ", tag("name")));
}


way[gs=path] {
    width: 3;
    color: blue;
    text: "name";
    text-position: line;
    text-offset: 15;
    font-size: 24;
    text-color: blue;
    text-halo-color: white;
    text-halo-radius: 2;
}

way[gs=path][virtual=on] {
    width: 3;
    color: blue;
	  dashes: 15,15;
    dashes-background-color: alpha;
    text: "name";
    text-position: line;
    text-offset: 15;
    font-size: 24;
    text-color: blue;
    text-halo-color: white;
    text-halo-radius: 2;
}

node[gs=staticobject] {
    icon-width: 64;
    text-offset-x: -55;
    text-offset-y: 80;
    icon-image: "staticobject_black.png" ;
    text: eval(concat( "SO: ", tag("name")));
}

way[gs=staticobject] {
    icon-image: "staticobject_black.png" ;
    icon-width: 64;
    text: eval(concat( "SO: " , tag("name")));
    text-color: black;
    font-weight: bold;
    text-position: center;
    icon-position: center;
    text-offset: 35;
    font-size: 24;

    width: 3;
    color: black;
}

area[gs=staticobject] {
    icon-image: "staticobject_black.png";
    icon-width: 32;
    text: eval(concat( "SO: " , tag("name")));
    text-color: black;
    font-weight: bold;
    text-position: center;
    icon-position: center;
    text-offset: 15;
    font-size: 30;

    width: 3;
    color: black;
    fill-color: black;
    fill-opacity: 0.2;
}



node[gs=location] {
    icon-image: "location.png" ;
    icon-width: 32;
    text: eval(concat( "L: " , tag("name")));
    font-weight: bold;
}


way[gs=location] {
    icon-image: "location.png";
    icon-position: line;
    icon-width: 32;
    icon-offset: 40;
    text: eval(concat( "L: " , tag("name")));
    text-color: black;
    font-weight: bold;
    text-position: line;

    text-offset: 15;
    font-size: 24;

    width: 3;
    color: #66CCFF;
}

area[gs=location] {
    icon-image: "location.png";
    icon-width: 64;
    icon-position: center;

    text: eval(concat( "L: " , tag("name")));
    text-color: black;
    font-weight: bold;
    text-position: center;
    text-offset: 15;
    font-size: 30;

    width: 3;
    color: #66CCFF;
    fill-color: #66CCFF;
    fill-opacity: 0.5;
}
